<div class="login-container">
  <div class="login-box shadow-lg">
    <div class="text-center mb-4">
      <img src="assets/img/logo.png" alt="Logo" class="logo-img mb-2">
      <h3 class="crm-title">CRM | Abuelita's Pizza</h3>
      <p class="bienvenida">Que tengas un gran turno!!</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onLogin()" class="login-form">
      <!-- Email -->
      <div class="form-group mb-3 input-group">
        <span class="input-group-text icon-red">
          <i class="bi bi-envelope-fill"></i>
        </span>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Correo electrónico">
      </div>

      <!-- Password -->
      <div class="form-group mb-3 input-group">
        <span class="input-group-text icon-red">
          <i class="bi bi-lock-fill"></i>
        </span>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Contraseña">
      </div>

      <!-- Recordar -->
      <div class="form-check mb-3 d-flex justify-content-between">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input me-2"
                 id="rememberMe" [(ngModel)]="recordarUsuario" [ngModelOptions]="{ standalone: true }" name="rememberMe">
          Recordarme
        </label>
      </div>

      <!-- Botón -->
      <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
