body {
  background-color: #f8f9fa;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #eaeaea;
}

.login-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 3rem;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.logo-img {
  width: 80px;
  height: auto;
}

.crm-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #0065bc;
}

.bienvenida {
  color: #555;
  font-size: 1rem;
}

.icon-red {
  background-color: #dd1a1e;
  color: white;
  border: none;
  border-radius: 0.375rem 0 0 0.375rem;
}
